.idea
application/data/sessions
application/data/cache
application/data/shop
application/data/serverlist.json
application/logs/*
!application/logs/Tracy
constants.php
setup/data/install.lock
application/data/dmn_news.json
application/logs/Tracy/*
composer.phar
composer_2.phar
/assets/realv2
/application/views/realv2
application/config/*
application/data/ServerData/*
application/plugins/*/views/*
